@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.table {
  margin:    auto;
  max-width: 980px;

  .no-data {
    border:        $border;
    border-radius: 0 0 6px 6px;
    border-top:    0;
    color:         $text-white-secondary;
    font-size:     rem-calc(24);
    font-weight:   600;
    padding:       32px 0;
    text-align:    center;

    i.fa-spinner {
      font-size: 64px;
    }
  }

  .table-header {
    align-items:     center;
    background:      $background;
    border:          $border;
    border-radius:   6px 6px 0 0;
    display:         flex;
    justify-content: space-between;
    padding:         16px;

    .left {
      .button {
        background:      transparent;
        border:          $border;
        color:           $text-white-primary;
        display:         inline-block;
        font-size:       rem-calc(14);
        font-weight:     bold;
        padding:         7px 16px;
        text-decoration: none;
        text-transform:  capitalize;

        &.active {
          background: $active-link;
          border:     1px solid $active-link;
        }

        &:first-child {
          border-radius: 6px 0 0 6px;
          border-right:  0;
        }

        &:last-child {
          border-left:   0;
          border-radius: 0 6px 6px 0;
        }
      }
    }

    .right {
      display: flex;

      & > div {
        margin-right: 28px;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .svg-icon {
    fill: $text-white-secondary;

    &.heart {
      fill: $heart-color;
    }
  }
}
