$text-white-primary:   rgb(201, 209, 217);
$text-white-secondary: rgb(139, 148, 158);
$background:           rgb(22, 27, 34);
$active-link:          rgb(31, 111, 235);
$link-color:           rgb(88, 166, 255);
$border-color:         rgb(48, 54, 61);
$button-color:         rgb(33, 38, 45);
$heart-color:          rgb(219, 97, 162);
$border:               1px solid $border-color;
$shadow:               rgb(1, 4, 9) 0px 8px 24px 0px;
$page-background:      rgb(13, 17, 23);
